
*{
    border: none;
    background-color: black; 
}
img{
    height: 100px;
    width: 5%;
    border-radius: 50px;
    border: 10px solid orange;
    padding: 10px;
}
h3{
    font-style: italic;
    color:orange;
    font-weight: 900;

}
#skills ol, #projects ul{

    color: orange;
    font-family: Arial, Helvetica, sans-serif;
   

}